{% extends 'base.html' %}
{% load static %}

{% block title %}
    我的网站|登录
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="containter">
        <div class="row" style="padding-top:10em;padding-bottom:10em;">
            <div class="col-xs-6 col-xs-offset-2" style="padding-right:16em;color: #f5f8fa;">
                <h2 style="font">
                    这是什么网站？
                </h2>
                <p>
                    为了满足研究人员工作中需要，本文提出了一整套的染色体异常现象处理业务逻辑，希望这些能为相关工作者做出重要的贡献，提高他们的工作效率，提升用户的y使用体验。
                </p>
                <P style="padding-top:2em;text-align: right;">----Graduation Project of Zheng Ping</P>
            </div>
            <div class="col-xs-4 " style="padding-right: 15em;">
                {% if not user.is_authenticated %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">登录</h3>
                        </div>
                        <div class="panel-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% for field in login_form %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endfor %}
                                <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                                <div class="clearfix"></div>
                                <a href="{% url 'forgot_password' %}" class="pull-left">忘记密码？</a>
                                <input type="submit" value="登录" class="btn btn-primary pull-right">
                            </form>
                        </div>
                    </div>
                {% else %}
                    <span>已登录，跳转到首页...</span>
                    <script type="text/javascript">
                        window.location.href = '/';
                    </script>
                {% endif %}
            </div>

    </div>    
{% endblock %}